/*----------------------------*/
/* Stylesheet for Minimu demo */
/*----------------------------*/
body {
    padding: 50px 0;
}

.wrap {
    margin: 0 auto;
    width: 70%;
}

a.btn {
    margin-right: 10px;
}

h1.divider {
    border-bottom: 1px solid #EFF0F1;
    margin-bottom: 24px;
}