/*----------------------------*/
/* Stylesheet for Minimu demo */
/*----------------------------*/
body {
    padding: 50px 0;
}

.wrap {
    margin: 0 auto;
    width: 70%;
}

a.btn {
    margin: 10px 10px 10px 0;
}

h1.divider {
    border-bottom: 1px solid #EFF0F1;
    margin-bottom: 24px;
}

section {
    margin-bottom: 30px;
}